
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    background-color: antiquewhite;
    padding: 2rem;
    border: 0;
    box-sizing: border-box;
  }

  @media screen and (max-width: 768px) {
    .body {
      background-color: brown;
    }
  }



.nav1 {
    background-color: black;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .nav1 {
      background-color:rgb(126, 131, 129);
      color: rgb(241, 232, 232);
    }
  }


.a1 {
    color: rgb(230, 228, 228);
    padding: 10px;
    font-size: x-small;
    text-decoration-line: none;
}

.logo {
    width: 250px;
    margin-left: 40%;   
}


.dat {
    font-size: x-small;
    margin-left: 43%;   
}

.nav2 {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 625px) {
    .nav2 {
      flex-direction: column;
    }
  }


.a2 {
    color: black;
    padding: 8px;
    font-size: x-small;  
    text-decoration-line: none; 
}

#serarch {
    border: none;
    width: 70px;
}

.heding1 {
    text-align: center;
}

.div-pi {
    display: flex;
    gap: 600px;
    margin-left: 120px;
}

@media screen and (max-width: 625px) {
    .div-pi {
      gap: 100px;
      margin-left: 50px    }
  }


.div-icon {
    font-size: 30px;
}

@media screen and (max-width: 625px) {
    .div-icon {
      font-size: 10px;
    }
  }

input {
    border-style: none;
    margin-left: 100px;
    font-size: 16px;
    width: 300px;
    height: 40px;
}

.p1-email {
    margin-left: 90PX;
    color: red;
    font-size: 12px;
}

.p2-number {
    margin-left: 90PX;
}


textarea {
    margin-left: 100px;
}

#submit {
    border-style: double;
    width: 100px;
    height: 30px;
    color: blue;
}
